--extra-index-url https://download.pytorch.org/whl/cpu
altair<5
la-core-web-lg @ https://huggingface.co/latincy/la_core_web_lg/resolve/main/la_core_web_lg-3.9.6-py3-none-any.whl
la-core-web-md @ https://huggingface.co/latincy/la_core_web_md/resolve/main/la_core_web_md-3.9.6-py3-none-any.whl
la-core-web-sm @ https://huggingface.co/latincy/la_core_web_sm/resolve/main/la_core_web_sm-3.9.6-py3-none-any.whl
pandas==2.3.0
spacy==3.8.11
la-latincy-lookups>=1.0.0
spacy-streamlit==1.0.6
latincy-diacritics @ https://huggingface.co/latincy/latincy-diacritics/resolve/main/latincy_diacritics-0.1.0-py3-none-any.whl
latincy-preprocess>=0.2.0
latincy-lexicon>=0.5.0
latincy-vocab>=0.1.0
streamlit==1.45.1
watchdog==6.0.0
